
body{
	background-image: url(./card.png);
	background-position:center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;

}
 .cart{
	background: white;
}


.back{
	background-color: darkgray;
}
.overlay{
	background: rgba(235, 228, 228, 0.2);
}
.navigation{
	margin-top: 80px;
	
}
.nav-item-color{
	color: rgb(155, 183, 187)
}

p{
	color:white;
}
.contacts{
	color:gray;
	margin: 20px;
}
.footer{
    padding-bottom:2px;
	margin-top: 260px;
}
.about_company{
	color:gray;
	margin: 20px;
	width: 400px;
	text-align: justify;
}
.form_deliv{
	color:gray;
	margin: 30px;
	width: 1020px;
	height: 300px;
}